body{
    background-color: rgb(117, 107, 99);
}
.container{
    background-color: rgb(192, 195, 195);
    margin: 0 auto;
    max-width: 500px;
    border-radius: 10px;
    margin-top: 70px
}
.container_2{
    margin: 10px;
    text-align: center;
}
.names{
    margin: 10px;
    padding-left: 10px;
    box-shadow: yellow;
    text-align: left;
}
.title_small{
    font-size: 20px;
}
.container_3{
    font-weight: bolder;
}
label{
    margin: 0px;
    font-size: 17px;
}
input,select,textarea{
    border-radius: 4px;
    padding: 3px;
    margin: 5px;
}
input:focus{
    outline-color: rgb(134, 57, 57);
}
.button_s{
    padding: 10px;
}
button:hover{
    opacity: 0.5;
}
button{
     background-color: blanchedalmond;
     border-radius: 5px;
}